h3{
margin-top: 20px;
margin-bottom: 20px;
}

input{
    margin: 10px;
}

#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;

}

#sort_button{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#display main{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 29px;
}
#display_name_with_comma{
    border: 1px solid gold;
    padding: 10px;
    background-color: greenyellow;
    border-radius: 10px;
    width: 50%;
}

